* {
  margin: 0;
  padding: 0;
}

.nav .logo {
  color: #3b83bd;
}
.nav .nav-components {
  display: flex;
  flex-direction: row;
  color: #f9F9F9;
  list-style-type: none;
  font-family: "Nunito", sans-serif;
}
.nav .nav-components li {
  margin: 10px 30px;
}

.header .logo {
  display: flex;
  horiz-align: center;
  vertical-align: center;
  font-size: 70px;
  color: #3b83bd;
  text-decoration: none;
}
.header a {
  display: block;
  width: 110px;
  height: 110px;
}
.header .brand {
  display: flex;
  horiz-align: center;
  vertical-align: center;
}
.header .header-name {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: #bbb;
}
.header .sub-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
  font-variant: all-small-caps;
  text-align: center;
  margin-bottom: 30px;
}
.header .main-heading {
  font-family: "Pixelify sans", sans-serif;
  font-size: 80px;
  font-weight: 400;
  color: #3b83bd;
  margin: 30px 0;
}
.header .sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #bbb;
  margin-bottom: 50px;
}
.header .header-button {
  width: 150px;
  height: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-variant: all-small-caps;
  letter-spacing: 1px;
  color: #3b83bd;
  background-color: transparent;
  border: 1px solid #3b83bd;
  outline: none;
  cursor: pointer;
}
.header .header-button:hover {
  background-color: #3b83bd;
  color: #bbb;
  transition: all 0.4s;
}
.header .product-main {
  margin-top: 20%;
  font-family: "Josefin Sans", sans-serif;
  color: #f9F9F9;
  font-weight: normal;
}
.header .arrow-down {
  color: #3b83bd;
  font-weight: 300;
  letter-spacing: 2px;
  font-variant: all-small-caps;
  text-align: center;
  margin: 0 auto;
  padding-top: 5%;
}

.main {
  background: linear-gradient(rgba(249, 249, 249, 0), rgba(249, 249, 249, 0.2), rgba(249, 249, 249, 0.4), rgba(249, 249, 249, 0.6));
}
.main .product {
  font-weight: 300;
  letter-spacing: 2px;
  font-variant: all-small-caps;
  text-align: center;
}
.main .product-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: x-large;
  font-weight: 700;
  color: #f9F9F9;
}
.main .product-14-pro {
  width: 20%;
  height: auto;
}
.main .product-price {
  color: red;
  font-family: "Nunito", sans-serif;
  font-size: x-large;
}
.main .product-price span {
  text-decoration: line-through;
  color: #000;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../assets/phone-bg.jpeg");
  background-size: cover;
}

nav {
  padding: 20px 20px;
}

header {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.header {
  position: relative;
  color: #000;
}
.header .brand {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}
.header .header-banner {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 25%;
}

/*# sourceMappingURL=main.css.map */
