* {
  margin: 0;
  padding: 0;
}

.start-nav .nav-components {
  display: flex;
  flex-direction: row;
  color: #f9F9F9;
  list-style-type: none;
  font-family: "Nunito", sans-serif;
}
.start-nav .nav-components li {
  margin: 10px 30px;
}
.start-nav .nav-components li .logo {
  color: #3b83bd;
}
.start-nav .nav-components li a {
  text-decoration: none;
  width: 20px;
  height: auto;
  padding: 10px;
  color: #f9F9F9;
}
.start-nav .nav-components li a:hover {
  color: #3b83bd;
  background-color: #bbb;
  border-radius: 2px;
  transition: all 0.4s;
}

.start-header .logo {
  display: flex;
  horiz-align: center;
  vertical-align: center;
  font-size: 70px;
  color: #3b83bd;
  text-decoration: none;
}
.start-header .brand {
  display: flex;
  horiz-align: center;
  vertical-align: center;
}
.start-header .header-name {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: #f9F9F9;
}
.start-header .sub-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #bbb;
  margin-bottom: 20px;
  text-align: center;
}
.start-header .main-heading {
  font-family: "Pixelify sans", sans-serif;
  font-size: 80px;
  font-weight: 400;
  color: #3b83bd;
  margin: 30px 0;
}
.start-header .sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #bbb;
  margin-bottom: 50px;
}
.start-header .header-button {
  width: 200px;
  height: 75px;
  font-family: "Josefin Sans", sans-serif;
  font-variant: all-small-caps;
  letter-spacing: 1px;
  color: #f9F9F9;
  background-color: transparent;
  border: 1px solid #bbb;
  outline: none;
  cursor: pointer;
}
.start-header .header-button:hover {
  background-color: #3b83bd;
  color: #f9F9F9;
  border: 1px solid #3b83bd;
  transition: all 0.4s;
}
.start-header .product-main {
  margin: 10% 0;
  font-family: "Josefin Sans", sans-serif;
  color: #f9F9F9;
  font-weight: normal;
}
.start-header .arrow-down {
  color: #3b83bd;
  letter-spacing: 2px;
  font-variant: all-small-caps;
  text-align: center;
  horiz-align: center;
  font-size: x-large;
}

.start-main {
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.start-main .product {
  letter-spacing: 2px;
  font-variant: all-small-caps;
  text-align: center;
}
.start-main .product-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: x-large;
  font-weight: 700;
  color: #f9F9F9;
}
.start-main .product-pro {
  width: 40%;
  height: auto;
  padding: 20px;
}
.start-main .product-price {
  color: red;
  font-family: "Nunito", sans-serif;
  font-size: x-large;
}
.start-main .product-price span {
  text-decoration: line-through;
  color: #bbb;
}

.start-footer {
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.start-footer .start-gegevenslijst, .start-footer .start-adres {
  font-family: "Josefin Sans", sans-serif;
  font-size: large;
  list-style-type: none;
  letter-spacing: 2px;
  font-variant: all-small-caps;
  text-align: center;
  color: #f9F9F9;
}

.start-body {
  background: linear-gradient(rgba(86, 86, 86, 0.4), rgba(86, 86, 86, 0.6), rgba(86, 86, 86, 0.8), #565656), url("../assets/phone-bg.jpeg");
  background-size: cover;
}

.start-nav {
  padding: 20px 20px;
}

.start-header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  color: #000;
}
.start-header .brand {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}
.start-header .header-banner {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 25%;
}

/*# sourceMappingURL=main.css.map */
