*{
  margin: 0;
  padding: 0;
}
$color-light: #f9F9F9;
$color-black: #000;
$color-grey: #565656;
$color-primary: #3b83bd;
$color-secondary: #bbb;

$font-pixelify: 'Pixelify sans', sans-serif ;
$font-josefinSans: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;

@mixin flexLayout{
  display: flex;
  horiz-align: center;
  vertical-align: center;
}
@mixin textStyles{
  $font-weight-value: 300;
  letter-spacing: 2px;
  font-variant: all-small-caps;
  text-align: center;

}
@mixin centerText{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}
@mixin navbarStyle{
  .nav-components{
    li{
      margin:10px 30px ;
      .logo{
        color: $color-primary;
      }
      a{
        text-decoration: none;
        width: 20px;
        height: auto;
        padding: 10px;
        color: $color-light;
      }
      a:hover{
        color: $color-primary;
        background-color: $color-secondary;
        border-radius: 2px;
        transition: all .4s;

      }
    }
    display: flex;
    flex-direction: row;
    color: $color-light;
    list-style-type: none;
    font-family: $font-nunito;
  }
}
