*{
  margin: 0;
  padding: 0;
}
$color-light: #f9F9F9;
$color-black: #000;
$color-primary: #003459;
$color-secondary: #bbb;

$font-dancingScript: 'Dancing Script', cursive;
$font-josefinSans: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;

@mixin flexLayout{
  display: flex;
  horiz-align: center;
  vertical-align: center;
}
@mixin textStyles{
  font-weight: 300;
  letter-spacing: 2px;
  font-variant: all-small-caps;
  text-align: center;

}
body{
  background-color: $color-light;
}