*{
  margin: 0;
  padding: 0;
}
$color-light: #f9F9F9;
$color-black: #000;
$color-grey: #565656;
$color-primary: #3b83bd;
$color-secondary: #bbb;

$font-pixelify: 'Pixelify sans', sans-serif ;
$font-josefinSans: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;

@mixin flexLayout{
  display: flex;
  horiz-align: center;
  vertical-align: center;
}
@mixin textStyles{
  font-weight: 300;
  letter-spacing: 2px;
  font-variant: all-small-caps;
  text-align: center;

}
@mixin centerText{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}
