@use "base" as *;

//navbar//


.start-nav,.login-nav, .overzicht-nav, .detail-nav {
   @include navbarStyle;
 }


//header//
.start-header {
  .logo {
    @include flexLayout;
    font-size: 70px;
    color: $color-primary;
    text-decoration: none;
  }
  .brand {
    @include flexLayout;

  }
  .header-name{
    font-family: $font-nunito;
    font-size: 50px;
    color: $color-light;
  }
  .sub-name{
    font-family: $font-josefinSans;
    font-size: 20px;
    font-weight: bolder;
    color: $color-secondary;
    margin-bottom: 20px;
    text-align: center;
  }
  .main-heading{
    font-family: $font-pixelify;
    font-size: 80px;
    font-weight: 400;
    color: $color-primary;
    margin: 30px 0;
  }
  .sub-heading{
    font-family: $font-josefinSans;
    font-size: 20px;
    font-weight: 400;
    color: $color-secondary;
    margin-bottom: 50px;
  }
  .header-button{
    width: 200px;
    height: 75px;
    font-family: $font-josefinSans;
    font-variant: all-small-caps;
    letter-spacing: 1px;
    color: $color-light;
    background-color: transparent;
    border: 1px solid $color-secondary ;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
  }
  .header-button:hover{
     background-color: $color-primary;
     color: $color-light;
    border: 1px solid $color-primary;
    border-radius: 2px;
     transition: all .4s;
   }
  .product-main{
    margin: 10% 0;
    font-family: $font-josefinSans;
    color: $color-light;
    font-weight: normal;
  }
  .arrow-down{
    color: $color-primary;
    @include textStyles;
    horiz-align: center;
    font-size: x-large;
     }
}

//main//

.start-main{
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .product{
    @include textStyles;
  }
  .product-name{
    font-family: $font-josefinSans;
    font-size: x-large;
    font-weight: 700;
    color: $color-light;
  }
  .product-pro{
  width: 40%;
  height: auto;
    padding: 20px;
  }
  .product-price{
    color: indianred;
    font-family: $font-nunito;
    font-size: x-large;
    span{
      text-decoration: line-through;
      color: $color-secondary;
    }
  }
}
.overzicht-body{
  background: linear-gradient(rgba($color-grey, 0.4), rgba($color-light, 0.2)), url("../assets/iphone-bg-2.jpeg");
  background-size: cover;

  .overzicht-main{
    .top-overzicht-main{
    @include flexLayout;
    @include centerText;
    flex-direction: column;
    margin: 12% 0;
      .top-overzicht-titel{
      text-align: center;
      font-family: $font-josefinSans;
      font-size: 50px;
      color: $color-primary;
      }
      .top-overzicht-text{
      text-align: center;
      font-family: $font-nunito;
      font-size: 30px;
      color: $color-light;
      font-variant: all-small-caps;
      }
      .filters{
          width: 100%;
          @include flexLayout;
          flex-direction: row;
          justify-content: space-evenly;
        margin-top: 10%;
        .filter-item{
          .filter{
            border: none;
          }
          legend{
            font-family: $font-josefinSans;
            color: $color-primary;
            font-size: x-large;

          }
          .filter-text{
            font-family: $font-nunito;
            color: $color-light;
          }
        }
    }

      }
    .overzicht-lijst{
    margin-top: 25%;
    background-color: rgba($color-secondary,0.9);
      .overzicht-items{
        .item{
        width: 33.33%;
        height: 25vw;
        position: relative;
        overflow: hidden;
        padding: 5% 0;
          .item-image{
          width: 100%;
          height: 100%;
          object-fit: contain;
          padding: 10px 0 5px 0;
          }
          .item-overlay{
            position: absolute;
            top: 40%;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgba($color-primary, 0.5);
            color: $color-light;
            @include flexLayout;
            flex-direction: column;
            .product-price{
              color: $color-light;
              @include textStyles;
              font-size: x-large;
              font-family: $font-nunito;
              span{
                color: red;
              }
            }
            .item-overlay-titel{
            font-family: $font-nunito;
            font-size: 40px;
            @include textStyles;
            }
            .item-overlay-text{
            font-family: $font-josefinSans;
            font-size: 30px;
            @include textStyles;
            }
            .item-overlay-button{
              .detail-link{
                text-decoration: none;
                color: $color-primary;
              }
              .detail-link:hover{
                color: $color-secondary;
              }
            width: 150px;
            height: 40px;
            color: $color-primary;
            background-color: $color-light;
            font-family: $font-josefinSans;
            font-size: 14px;
            font-weight: bold;
            border: 1px solid $color-primary;
            border-radius: 30px;
            outline: none;
            cursor: pointer;
              margin: 0 auto;
            }
          }
        }
        .item:hover{
          .item-overlay{
          left: 0;
          transition: left 0.7s;
          }
        }
      }
      .paginatie{
         @include flexLayout;
        justify-content: center;
        font-family: $font-josefinSans;
        color: $color-primary;
        font-size: large;
        padding: 5%;
         span{
           text-decoration: underline;
         }

       }
    }
  }
}
.detail-body{
  .detail-main{
    width: 75%;
    margin: 0 auto;
    .brand {
      @include flexLayout;
      justify-content: center;
      margin-top: 5%;
      .header-name{
      font-family: $font-nunito;
      font-size: 50px;
      color: $color-primary;
    }
    }
    .detail-iphone{
      @include flexLayout;
      flex-direction: row;
      margin: 5% ;
      .detail-img-small{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 5%;
        img{
          scale: 50%;
        }
      }
      .detail-img-big{
        display: flex;
        justify-content: center;
        height: 50%;
        width: auto;
      }

    }

  }
}

//footer//
.start-footer{
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .start-gegevenslijst, .start-adres{
    font-family: $font-josefinSans;
    font-size: large;
    list-style-type: none;
    @include textStyles;
    color: $color-light;
  }
}





