@use "base" as *;

//navbar startpagina//
.start-nav{
  .nav-components{
    li{
      margin:10px 30px ;
      .logo{
      color: $color-primary;
    }
      a{
        text-decoration: none;
        width: 20px;
        height: auto;
        padding: 10px;
        color: $color-light;
      }
      a:hover{
        color: $color-primary;
        background-color: $color-secondary;
        border: 1px solid $color-primary ;
        transition: all .4s;

      }
    }
    display: flex;
    flex-direction: row;
    color: $color-light;
    list-style-type: none;
    font-family: $font-nunito;
  }

}

//header startpagina//
.start-header {
  .logo {
    @include flexLayout;
    font-size: 70px;
    color: $color-primary;
    text-decoration: none;
  }
  .brand {
    @include flexLayout;

  }
  .header-name{
    font-family: $font-nunito;
    font-size: 50px;
    color: $color-light;
  }
  .sub-name{
    font-family: $font-josefinSans;
    font-size: 20px;
    font-weight: bolder;
    color: $color-secondary;
    margin-bottom: 20px;
    text-align: center;
  }
  .main-heading{
    font-family: $font-pixelify;
    font-size: 80px;
    font-weight: 400;
    color: $color-primary;
    margin: 30px 0;
  }
  .sub-heading{
    font-family: $font-josefinSans;
    font-size: 20px;
    font-weight: 400;
    color: $color-secondary;
    margin-bottom: 50px;
  }
  .header-button{
    width: 150px;
    height: 50px;
    font-family: $font-josefinSans;
    font-variant: all-small-caps;
    letter-spacing: 1px;
    color: $color-light;
    background-color: transparent;
    border: 1px solid $color-secondary ;
    outline: none;
    cursor: pointer;
  }
  .header-button:hover{
     background-color: $color-primary;
     color: $color-light;
    border: 1px solid $color-primary;
     transition: all .4s;
   }
  .product-main{
    margin: 10% 0;
    font-family: $font-josefinSans;
    color: $color-light;
    font-weight: normal;
  }
  .arrow-down{
    color: $color-primary;
    @include textStyles;
    horiz-align: center;
    font-size: x-large;
     }
}

//main startpagina//

.start-main{
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .product{
    @include textStyles;
  }
  .product-name{
    font-family: $font-josefinSans;
    font-size: x-large;
    font-weight: 700;
    color: $color-light;
  }
  .product-pro{
  width: 40%;
  height: auto;
    padding: 20px;
  }
  .product-price{
    color: red;
    font-family: $font-nunito;
    font-size: x-large;
    span{
      text-decoration: line-through;
      color: $color-secondary;
    }
  }
}

//footer startpagina//
.start-footer{
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .start-gegevenslijst, .start-adres{
    font-family: $font-josefinSans;
    font-size: large;
    list-style-type: none;
    @include textStyles;
    color: $color-light;
  }
}
